<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js no-svg ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="es-MX"> <![endif]-->
<!--[if IE 7]><html class="no-js no-svg ie ie7 lt-ie9 lt-ie8" lang="es-MX"> <![endif]-->
<!--[if IE 8]><html class="no-js no-svg ie ie8 lt-ie9" lang="es-MX"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Elementos educativos">
    <meta name="author" content="Martha Esperanza Ramos Merlos">

    <title>Bayonet</title>

    <link rel="manifest" href="/static/manifest.json">
    {% include '_css.html' %}
</head>

<body>
    <div id="app"></div>
    {% include '_js.html' %}
</body>
</html>
